{% extends 'base.html.twig' %}
{% block title %}Guilty Gear Strive
{% endblock %}
{% block content %}
	<div class="parallax paralImg"></div>
	<div class="container">
		<div class="row">
			<div class="col-md-8 col-sm-12">
				<div class="imgu">
					<img src="{{ asset('images/guilty/GGStrive_Logo.png') }}" alt=""/>
				</div>
			</div>
		</div>

		<div class="row mm">
			<div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
				<div class="tarjeta" data-tilt data-tilt-scale="1.15">
					<h2>GGST</h2>
					<img src="images/guilty/Sol_Guilty_Gear_Strive.png" style="top:-50px" alt="Imagen Sol"/>
					<div class="contenido">
						<h3>SOL BADGUY</h3>
						<p>Balance</p>
						<a href="/alejandro-roman-final/public/guilty/sol">Ver tech</a>
					</div>
				</div>
			</div>
			<div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
				<div class="tarjeta" data-tilt data-tilt-scale="1.15">
					<h2>GGST</h2>
					<img src="images/guilty/Ky_Guilty_Gear_Strive.png" style="left:15px;top:-50px" alt="Imagen Ky"/>
					<div class="contenido">
						<h3>KY KISKE</h3>
						<p>Balance</p>
						<a href="/alejandro-roman-final/public/guilty/ky">Ver tech</a>
					</div>
				</div>
			</div>
			<div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
				<div class="tarjeta" data-tilt data-tilt-scale="1.15">
					<h2>GGST</h2>
					<img src="images/guilty/May_Guilty_Gear_Strive.png" style="left:-10px;top:-50px" alt="Imagen May"/>
					<div class="contenido">
						<h3>MAY</h3>
						<p>Balance</p>
						<a href="/alejandro-roman-final/public/guilty/may">Ver tech</a>
					</div>
				</div>
			</div>
			<div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
				<div class="tarjeta" data-tilt data-tilt-scale="1.15">
					<h2>GGST</h2>
					<img src="images/guilty/Axl_Guilty_Gear_Strive.png" style="top:-50px" alt="Imagen Axl"/>
					<div class="contenido">
						<h3>AXL LOW</h3>
						<p>Long Range</p>
						<a href="/alejandro-roman-final/public/guilty/axl">Ver tech</a>
					</div>
				</div>
			</div>
			<div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
				<div class="tarjeta" data-tilt data-tilt-scale="1.15">
					<h2>GGST</h2>
					<img src="images/guilty/Chipp_Guilty_Gear_Strive.png" style="left:-100px;top:-50px" alt=""/>
					<div class="contenido">
						<h3>Chipp Zanuff</h3>
						<p>High Speed</p>
						<a href="/alejandro-roman-final/public/guilty/chipp">Ver tech</a>
					</div>
				</div>
			</div>
			<div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
				<div class="tarjeta" data-tilt data-tilt-scale="1.15">
					<h2>GGST</h2>
					<img src="images/guilty/Potemkin_Guilty_Gear_Strive.png" alt=""/>
					<div class="contenido">
						<h3>Potemkin</h3>
						<p>Power Throw</p>
						<a href="/alejandro-roman-final/public/guilty/potemkin">Ver tech</a>
					</div>
				</div>
			</div>
			<div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
				<div class="tarjeta" data-tilt data-tilt-scale="1.15">
					<h2>GGST</h2>
					<img src="images/guilty/Faust_Guilty_Gear_Strive.png" style="left:-100px;top:-50px" alt=""/>
					<div class="contenido">
						<h3>Faust</h3>
						<p>Unique</p>
						<a href="/alejandro-roman-final/public/guilty/faust">Ver tech</a>
					</div>
				</div>
			</div>
			<div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
				<div class="tarjeta" data-tilt data-tilt-scale="1.15">
					<h2>GGST</h2>
					<img src="images/guilty/Millia_Guilty_Gear_Strive.png" style="top:-50px" alt=""/>
					<div class="contenido">
						<h3>Millia Rage</h3>
						<p>High Speed</p>
						<a href="/alejandro-roman-final/public/guilty/millia">Ver tech</a>
					</div>
				</div>
			</div>
			<div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
				<div class="tarjeta" data-tilt data-tilt-scale="1.15">
					<h2>GGST</h2>
					<img src="images/guilty/Zato_Guilty_Gear_Strive.png" style="left:-100px;top:-100px" alt=""/>
					<div class="contenido">
						<h3>Zato=1</h3>
						<p>Technical</p>
						<a href="/alejandro-roman-final/public/guilty/zato">Ver tech</a>
					</div>
				</div>
			</div>
			<div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
				<div class="tarjeta" data-tilt data-tilt-scale="1.15">
					<h2>GGST</h2>
					<img src="images/guilty/Ramlethal_Guilty_Gear_Strive.png" style="top:-50px" alt=""/>
					<div class="contenido">
						<h3>Ramlethal</h3>
						<p>Shooting</p>
						<a href="/alejandro-roman-final/public/guilty/ramlethal">Ver tech</a>
					</div>
				</div>
			</div>
			<div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
				<div class="tarjeta" data-tilt data-tilt-scale="1.15">
					<h2>GGST</h2>
					<img src="images/guilty/Leo_Guilty_Gear_Strive.png" style="left:-100px;top:-150px" alt=""/>
					<div class="contenido">
						<h3>Leo Whitefang</h3>
						<p>Balance</p>
						<a href="/alejandro-roman-final/public/guilty/leo">Ver tech</a>
					</div>
				</div>
			</div>
			<div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
				<div class="tarjeta" data-tilt data-tilt-scale="1.15">
					<h2>GGST</h2>
					<img src="images/guilty/Nagoriyuki_Guilty_Gear_Strive.png" style="top:-150px" alt=""/>
					<div class="contenido">
						<h3>Nagoriyuki</h3>
						<p>Balance</p>
						<a href="/alejandro-roman-final/public/guilty/nagoriyuki">Ver tech</a>
					</div>
				</div>
			</div>
			<div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
				<div class="tarjeta" data-tilt data-tilt-scale="1.15">
					<h2>GGST</h2>
					<img src="images/guilty/Giovanna_Guilty_Gear_Strive.png" alt=""/>
					<div class="contenido">
						<h3>Giovanna</h3>
						<p>Rush</p>
						<a href="/alejandro-roman-final/public/guilty/giovanna">Ver tech</a>
					</div>
				</div>
			</div>
			<div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
				<div class="tarjeta" data-tilt data-tilt-scale="1.15">
					<h2>GGST</h2>
					<img src="images/guilty/Anji_Guilty_Gear_Strive.png" alt=""/>
					<div class="contenido">
						<h3>Anji Mito</h3>
						<p>Balance</p>
						<a href="/alejandro-roman-final/public/guilty/anji">Ver tech</a>
					</div>
				</div>
			</div>
			<div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
				<div class="tarjeta" data-tilt data-tilt-scale="1.15">
					<h2>GGST</h2>
					<img src="images/guilty/I-No_Guilty_Gear_Strive.png" style="left:0px;top:-100px" alt=""/>
					<div class="contenido">
						<h3>I-No</h3>
						<p>Rush</p>
						<a href="/alejandro-roman-final/public/guilty/ino">Ver tech</a>
					</div>
				</div>
			</div>
			<div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
				<div class="tarjeta" data-tilt data-tilt-scale="1.15">
					<h2>GGST</h2>
					<img src="" alt=""/>
					<div class="contenido">
						<h3>PRUEBAS</h3>
						<p>Hashtag Prueba</p>
						<a href="/alejandro-roman-final/public/guilty/pruebas">Ver tech</a>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
